* {
    padding: 0;
    margin: 0px;
}


.pb-3 {
    padding-bottom: 0rem !important;
}

body {
    /*overflow-y: hidden;
    overflow-x: hidden;*/
}
.imagee {
    height: 100vh;
    object-fit: cover;
}


.crsl-labelheading {
    margin-left: 0.5%;
    font-size: 180%;
    text-align: left;
    margin-bottom: 6%;
}

.crsl-description {
    margin-left: 0.5%;
    text-align: left;
    margin-bottom: 5%;
    font-size: 70%;
}

.formclass {
    height: 600px;
    margin-top: 40%;
    width: 70%;
    margin-left: 15%;
    font-family: 'Noto Sans', sans-serif;
    color: #414141;
}

.btn-outline-secondary {
    width: 100%;
    border-radius: 40px;
    border-color: orange;
    color: orange;
}

.crt-acnt {
    color: #414141;
    margin-left: 15%;
    width: 50%;
}

.l-pwd {
    text-decoration: none;
    color: #414141;
    margin-left: 45%;
}

.prvcy-plcy {
    margin-bottom: 5%;
    margin-left: 40%;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
}

.instruction {
    font-family: 13px;
    margin-left: 15%;
}

::placeholder {
    font-size: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

    .crsl-labelheading {
        font-size: 50px;
    }

    .formclass {
        margin-top: 2%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1010px) {

    .crt-acnt {
        font-size: 11px;
    }

    .l-pwd {
        font-size: 11px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1176px) {

    .formclass {
        margin-top: 10%;
    }
}
